{% extends "base.html" %}

{% block page_content %}
    <div class="center" style="max-width: 800px">
        <form class="form" method="post" action="/submit">
            <label for="table" class="sr-only"></label>
            <p>
                <select class="form-control text-center center" name="table" id="table" style="max-width: 539px">
                    {% for event in events.keys() %}
                        <option value="{{ event }}">{{ events[event] }}</option>
                    {% endfor %}
                </select>
            </p>
            <label for="ids" class="sr-only"></label>
            <input type="text" class="form-control text-center center" name="ids" id="ids"
                   placeholder="Enter all the user ids seperated by space; just enter 'all' to send to all"
                   style="width: 70%"
                   required>
            <label for="message" class="sr-only"></label>
            <textarea class="form-control text-center center" name="message" id="message"
                      placeholder="Type your message here! You can use emojis in your message as well :)"
                      style="width: 70%"
                      required></textarea>
            <input class="btn btn-lg btn-primary btn-block center" type="submit" value="SEND" style="width: 330px">
        </form>
    </div>
{% endblock %}